@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    ViewData["LoginStatus"] = "Login";
}

<div class="body-div">
    <div class="text-div" style="align-self: center;">
        <h1 style="color: red;">Access Denied</h1>
        <a asp-page="./Index" style="font-size: 20px; color: black;">Go Back</a>
    </div>
</div>

