@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["LoginStatus"] = "Login";
}

<div class="text-center">
    <h5 class="display-4">Welcome to Our Web Application<br /> <span style="color: blue; font-weight: bold;">CRUD PROJECT</span></h5>
    <p><a asp-page="/Login/login">Get Started</a></p>
</div>
